.AuthorTimePosted {
    color: rgb(45, 45, 45);
}

.timePosted {
    position: absolute;
    left: 62%;
}

.another {
    text-transform: lowercase;
}

.ulstart {
    /* Bullet color */
    list-style-type: disc;
}

.ulspan {
    /* Text color */
    color: black;
}

/*
- think about implementing potentially
3.6/1.8 = 2 lines

.truncate {
  display: block;
  max-height: 3.6em;
  line-height: 1.8em;
}
*/

.contentWrap {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.commentLikes {
    font-weight: 500;
}
