.textarea::placeholder {
    color: grey
}

.submitButton {
    color: black;
    background-color: lightgray;
    padding: 8px;
    border-radius: 4px;
    transition-duration: 0.4s;
    position: absolute;
    bottom: 7px;
    left: 73.5%;
    /* Adjust as needed */
}

.submitButton:hover {
    background-color: black;
    color: white;
}


.fileFormatSubmission {
    text-align: center;
}

.inputGroup {
    position: relative;
}

.inputGroup span {
    position: absolute;
    top: 15px;
    left: 20px;
    color: black;
}

.formControl {
    width: 80%;
    min-height: 150px;
    padding: 12px 20px;
    border: 2px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    resize: vertical;
    transition: 0.4s ease-in-out;
}

.iconPlaceholder:not(:placeholder-shown)~span {
    display: none;
}
