/*

@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Gravitas+One&family=Press+Start+2P&family=Rubik:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Rubik', sans-serif;
    font-size: 1.5rem;
}

body {
    min-height: 100vh;
    background-color: black;
    color: whitesmoke;
    display: grid;
    place-content: center;
    padding: 1rem;
}

h1 {
    font-family: 'Gravitas One', serif;
    font-size: 2rem;
}

h2 {
    font-family: 'Graduate', serif;
    font-size: 0.25rem;
}

#error404 {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5rem;
}

container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

*/

@tailwind base;
@tailwind components;
@tailwind utilities;


.bold-text {
    font-weight: bold
}

body {
    @apply bg-black text-slate-100;
    overscroll-behavior: none;
}
