.constrainedDiv {
    background-color: white;
    height: 100vh;
    width: 80vh;
    gap: 1rem;
}

.constrainedDiv>* {
    /*
        allows for stacking when using media query
        fit-content: keep width of text regardless of option
    */
    min-width: fit-content;
    flex: 1;
}

.postContainer {
    outline: 1px solid black;
    border-radius: 10px;
    background-color: lightgrey;
    padding: 10px;
}
